<!-- loading the template static asset -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai aur Django</title>
    <!-- template engine : special syntex or structure : the html file itself behaves as template engine. Template engine means you can ingect your programatic code anywhere like if you want to add some code in html file or you want to ingect some data from the views file, we use temple engine -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Chai aur Django</h1>
</body>
</html>